@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/PressStart2P-Regular.ttf');
}
$font-family-base: 'Press Start 2P', 'cursive';
$font-size-base: 16px;

$color-white: #fff;
$color-black: #000;
$color-cyan: #00FFE2;
$color-red: #FF1E19;
$color-denim: #00035A;
$color-grid-line: #002A9D;